@use "mixins" as *;

@include medium-devices {
  .newsletter {
    flex-direction: column-reverse;
    gap: 0;
    padding: 0;
    border-radius: 0;

    &__content {
      margin: 0;

      .newsletter__title {
        font-size: 3.5rem;
      }
    }

    &__image {
      max-width: 100%;
    }
  }

  .thanks-message {
    border-radius: 0;
    width: 100%;
    min-height: 50vh;

    &__content {
      position: relative;
      button {
        position: absolute;
        bottom: -20vh;
      }
    }
  }
}
